<h1><%= @sads.title %></h1>

<hr />

<% @sads.messages.each do |key, message| %>
  <% if key != :bottom %>
    <div><%= raw message.gsub(/\r/, '<br />') %></div>
  <% end %>
<% end %>

<hr />

<% @sads.navigations.each do |key,links| %>
  <div>
    <h3><%= key.to_s %></h3>
    <ul>
      <% links.each do |link| %>
        <li><%= link_to "#{link[:accesskey]} - #{link[:title]}", link[:pageId]  %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<hr />

<% unless @sads.messages[:bottom].nil? %>
  <% message = @sads.messages[:bottom] %>
  <div><%= raw message.gsub(/\r/, '<br />') %></div>
<% end %>

<hr />

<% if not @sads.sms_message.blank? %>
  <h3>SMS</h3>
  <div><%= raw @sads.sms_message.gsub(/\r/, '<br />') %></div>
<% end %>

<hr />
<% @sads.inputs.each do |input| %>
  <%= form_tag @sads.submit_page do |f| %>
    <label><%= input[:title] %>:</label> <%= text_field_tag input[:name], '' %>
    <%= submit_tag 'Submit' %>
  <% end %>
<% end %>

<div style="background: green; color: #EEE; padding: 8px;">
  <b>USSD Length:</b> <%= @sads.ussd_length %>
</div>
