<style type="text/css">
  #ussd-info {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    font-family: verdana;
    background: green;
    color: white;
  }

  #screen {
    font-family: Menlo, Monaco, Consolas, Monospace;
    font-size: 1em;
    width: 360px;
    background: #AAA;
    padding: 8px;
    float: left;
  }

  #sms {
    font-family: Menlo, Monaco, Consolas, Monospace;
    font-size: 1em;
    width: 360px;
    padding: 8px;
    float: left;
    float: left;
    background: #DDD;
  }

  .clear { clear: both; }
</style>

<div id="ussd-info">
  <table>
    <tr>
      <th>Length</th>
      <th>Pages</th>
    </tr>
    <tr>
      <td><%= @sads.ussd_length %></td>
      <td>Not Implemented</td>
    </tr>
  </table>
</div>

<div id="phone-viewport">
  <div id="screen">
    <% unless @sads.title.blank? %>
      <%= @sads.title %>:
      <br />
    <% end %>

    <% if @sads.banner_position == :top and @sads.banner_targets.any? -%>
      {Ad=[<%= @sads.banner_targets.join(',') %>]}
      <br />
    <% end -%>

    <% @sads.messages.each do |key, message| -%>
      <% if key != :bottom -%>
        <%= raw message.gsub(/\r/, '<br />') -%>
        <br />
      <% end -%>
    <% end -%>
    <% @sads.navigations.each do |key,links| %>
      <% links.each do |link| %>

        <% link[:pageId] = link[:pageId] %>
        <% if link[:pageId].index("?") %>
          <% link[:pageId].sub!("?", "?abonent=#{CGI.escape(params[:abonent])}&") %>
        <% else %>
          <% link[:pageId] += "?abonent=#{CGI.escape(params[:abonent])}" %>
        <% end %>

        <%= link_to raw("#{link[:accesskey]}&gt;#{link[:title]}"), link[:pageId] %>
        <br />
      <% end %>
    <% end %>
    <% @sads.messages.each do |key, message| %>
      <% if key == :bottom %>
        <%= raw message.gsub(/\r/, '<br />') %>
        <br />
      <% end %>
    <% end %>
    <% if @sads.banner_position == :bottom and @sads.banner_targets.any? %>
      {Ad=[<%= @sads.banner_targets.join(',') %>]}
    <% end %>
  </div>
  <div id="sms">
    <% if not @sads.sms_message.blank? %>
      <%= raw @sads.sms_message.gsub(/\r/, '<br />') %>
    <% end %>
  </div>
  <div class="clear"></div>
</div>
