<h1><%= @sads.title %></h1>

<hr />

<% if @sads.banner_position == :top and @sads.banner_targets.any? %>
  [SharpAds::Banner Targets=[<%= @sads.banner_targets.join(',') %>]]
<% end %>

<hr />

<% @sads.messages.each do |key, message| %>
  <% if key != :bottom %>
    <div><%= raw message.gsub(/\r/, '<br />') %></div>
  <% end %>
<% end %>

<hr />

<% @sads.navigations.each do |key,links| %>
  <div>
    <h3><%= key.to_s %></h3>
    <ul>
      <% links.each do |link| %>

        <% link[:pageId] = link[:pageId] %>
        <% if link[:pageId].index("?") %>
          <% link[:pageId].sub!("?", "?abonent=#{CGI.escape(params[:abonent])}&") %>
        <% else %>
          <% link[:pageId] += "?abonent=#{CGI.escape(params[:abonent])}" %>
        <% end %>

        <li><%= link_to "#{link[:accesskey]} - #{link[:title]}", link[:pageId] %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<hr />

<% unless @sads.messages[:bottom].nil? %>
  <% message = @sads.messages[:bottom] %>
  <div><%= raw message.gsub(/\r/, '<br />') %></div>
<% end %>

<hr />

<% if not @sads.sms_message.blank? %>
  <h3>SMS</h3>
  <div><%= raw @sads.sms_message.gsub(/\r/, '<br />') %></div>
<% end %>

<hr />
<% @sads.inputs.each do |input| %>

  <% submit_page = @sads.submit_page %>
  <% if submit_page.index("?") %>
    <% submit_page.sub!("?", "?abonent=#{CGI.escape(params[:abonent])}&") %>
  <% else %>
    <% submit_page += "?abonent=#{CGI.escape(params[:abonent])}" %>
  <% end %>

  <%= form_tag submit_page do |f| %>
    <label><%= input[:title] %>:</label> <%= text_field_tag input[:name], '' %>
    <%= submit_tag 'Submit' %>
  <% end %>
<% end %>

<% if @sads.banner_position == :bottom and @sads.banner_targets.any? %>
  <hr />
  [SharpAds::Banner Targets=[<%= @sads.banner_targets.join(',') %>]]
<% end %>

<div style="background: green; color: #EEE; padding: 8px;">
  <b>USSD Length:</b> <%= @sads.ussd_length %>
</div>
